@charset "UTF-8";
   * {
  font-family: 'Times New Roman', Times, serif;
    
    }
body {
    background-image:linear-gradient(to right, yellow, orange);
    
}
p{
    text-align: justify;
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(199, 120, 41, 0.74);
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1 {
    color: red;
    text-align: center;
    text-shadow: 10ch;
}
h2 {
    color: blue;
}